# 반복문

* 131~140

In [1]:
과일=["사과","귤","수박"]
for 변수 in 과일:
    print(변수)
    
#실행결과 예측 :
#사과
#귤
#수박

사과
귤
수박

In [21]:
과일 = ["사과", "귤","수박"]
for 변수 in 과일:
    print("#####")

#실행결과 예측 : 
'''
#####
#####
#####
'''

#####
#####
#####

'\n#####\n#####\n#####\n'

In [4]:
#for문과 동일 기능 수행하는 코드
# 1번째

for 변수 in ["A","B","C"]:
    print(변수)

A
B
C

In [5]:
#2번째

print("A")
print("B")
print("C")

A
B
C

In [8]:
#3번째

a=['A','B','C']

for 변수 in range(0,3):
    print(a[변수])

A
B
C

In [9]:
#for문과 동일 기능 수행하는 코드
#1번째

for 변수 in ["A","B","C"]:
    print("출력 :", 변수)

출력 : A
출력 : B
출력 : C

In [10]:
#2번째

print("출력 : A")
print("출력 : B")
print("출력 : C")

출력 : A
출력 : B
출력 : C

In [11]:
#3번째

변수 = "A"
print("출력 :", 변수)
변수 = "B"
print("출력 :", 변수)
변수 = "C"
print("출력 :", 변수)

출력 : A
출력 : B
출력 : C

In [13]:
#for문과 동일 기능 수행하는 코드
#1번째

for 변수 in ["A","B","C"]:
    b=변수.lower()
    print("변환:",b)

변환: a
변환: b
변환: c

In [16]:
#2번째

a=['A',"B","C"]

for i in range(0,3):
    print("변환: ",a[i].lower())

변환:  a
변환:  b
변환:  c

In [18]:
변수="A"
a=변수.lower()
print("변환:",a)
변수="B"
a=변수.lower()
print("변환:",a)
변수="C"
a=변수.lower()
print("변환:",a)

변환: a
변환: b
변환: c

In [22]:
#for문으로 작성하기
'''
변수=10
print(변수)
변수=20
print(변수)
변수=30
print(변수)
'''

'\n변수=10\nprint(변수)\n변수=20\nprint(변수)\n변수=30\nprint(변수)\n'

In [25]:
for i in [10,20,30]:
    print("변수=",i)

변수= 10
변수= 20
변수= 30

In [28]:
#for문으로 작성
'''
print(10)
print(20)
print(30)
'''

for i in [10,20,30]:
    print(i)

10
20
30

In [29]:
#for문으로 작성
'''
print(10)
print("------")
print(20)
print("------")
print(30)
print("------")
'''

for i in [10,20,30]:
    print(i)
    print('------')

10
------
20
------
30
------

In [30]:
#for문으로 작성
'''
print('++++')
print(10)
print(20)
print(30)
'''

print('++++')
for i in [10,20,30]:
    print(i)

++++
10
20
30

In [31]:
#for문으로 작성
'''
print('-------')
'''

for i in range(4):
    print('-------')

-------
-------
-------
-------

* 141~150

In [34]:
리스트=[100,200,300]

for i in 리스트:
    print(i+10)

110
210
310

In [35]:
리스트=["김밥","라면","튀김"]

for i in 리스트:
    print("오늘의 메뉴: ", i)

오늘의 메뉴:  김밥
오늘의 메뉴:  라면
오늘의 메뉴:  튀김

In [36]:
리스트=['SK하이닉스','삼성전자','LG전자']

for i in 리스트:
    print(len(i))

6
4
4

In [37]:
리스트=['dog','cat','parrot']

for i in 리스트:
    print(i,len(i))

dog 3
cat 3
parrot 6

In [38]:
리스트=['dog','cat','parrot']

for i in 리스트:
    print(i[0])

d
c
p

In [39]:
리스트=[1,2,3]

for i in 리스트:
    print('3 x',i)

3 x 1
3 x 2
3 x 3

In [40]:
리스트=[1,2,3]

for i in 리스트:
    print('3 x',i,'=',3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [45]:
리스트=['가','나','다','라']
리스트=리스트[1:]

for i in 리스트:
    print(i)

나
다
라

In [46]:
리스트=['가','나','다','라']

for i in 리스트[::2]:
    print(i)

가
다

In [47]:
리스트=['가','나','다','라']

for i in 리스트[::-1]:
    print(i)

라
다
나
가

* 151 ~ 160

In [48]:
리스트=[3,-20,-3,44]

for i in 리스트:
    if i<0:
        print(i)

-20
-3

In [49]:
리스트=[3,100,23,44]

for i in 리스트:
    if i%3==0:
        print(i)

3

In [50]:
리스트=[13,21,12,14,30,18]

for i in 리스트:
    if i%3==0 and i<20:
        print(i)

12
18

In [51]:
리스트=["I","study","python","language","!"]

for i in 리스트:
    if len(i)>=3:
        print(i)

study
python
language

In [52]:
리스트=['A','b','c','D']

for i in 리스트:
    #isupper() 메서드는 대문자 여부 판별
    if i.isupper()==True:
        print(i)

A
D

In [53]:
리스트=['A','b','c','D']

for i in 리스트:
    if i.islower()==True:
        print(i)

b
c

In [56]:
리스트=['dog','cat','parrot']

for i in 리스트:
    i_upper=i[0].upper()
    print(i_upper+i[1:])

Dog
Cat
Parrot

In [58]:
리스트=['hello.py','ex01.py','intro.hwp']

for i in 리스트:
    i=i.split('.')
    print(i[0])

hello
ex01
intro

In [62]:
리스트=['intra.h','intra.c','define.h','run.py']

for i in 리스트:
    split=i.split('.')
    if split[1]=='h':
        print(i)

intra.h
define.h

In [70]:
리스트=['intra.h','intra.c','define.h','run.py']

for i in 리스트:
    split=i.split('.')
    if split[1]=='c' or split[1]=='h':
        print(i)

intra.h
intra.c
define.h

* 161~170

In [72]:
for i in range(0,100):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [75]:
for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [77]:
for i in range(3,31,3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [79]:
for i in range(100):
    print(99-i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [82]:
for i in range(10):
    print(float(i/10))

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [87]:
for i in range(1,10):
    print("3 x",i,'=',(i*3))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [88]:
for i in range(1,10,2):
    print("3 x",i,'=',3*i)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [96]:
sum=0
for i in range(1,11):
    sum+=i
print("합:", sum)

합: 55

In [97]:
sum=0
for i in range(1,11):
    if i%2==1:
        sum+=i
print("합:",sum)

합: 25

In [100]:
result=1
for i in range(1,11):
    result*=i
print(result)

3628800

* 171~180

In [104]:
price_list=[32100, 32150, 32000, 32500]

for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

In [106]:
price_list=[32100,32150,32000,32500]

for i in range(4):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [107]:
#다른 방법

price_list=[32100,32150,32000,32500]

for i, data in enumerate(price_list):   # enumerate : 인덱스와 원소를 동시에 접근
    print(i,data)

0 32100
1 32150
2 32000
3 32500

In [108]:
price_list=[32100,32150,32000,32500]

for i in range(4):
    print(3-i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [109]:
#다른 방법

for i in range(len(price_list)):
    print((len(price_list)-1)-i,price_list[i])

3 32100
2 32150
1 32000
0 32500

In [112]:
price_list=[32100,32150,32000,32500]

for i in range(len(price_list)-1):
    print(100+i*10, price_list[i])

100 32100
110 32150
120 32000

In [114]:
my_list=["가","나","다","라"]

for i in range(len(my_list)-1):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [116]:
my_list=["가","나","다","라","마"]

for i in range(len(my_list)-2):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [118]:
my_list=["가","나","다","라"]

for i in range(1,len(my_list)):
    print(my_list[len(my_list)-i], my_list[len(my_list)-1-i])

라 다
다 나
나 가

In [119]:
my_list=[100,200,400,800]

for i in range(len(my_list)-1):
    print(abs(my_list[i+1]-my_list[i]))

100
200
400

In [122]:
my_list=[100,200,400,800,1000,1300]
sum=0
for i in range(1,len(my_list)-1):
    sum=my_list[i-1]+my_list[i]+my_list[i+1]
    print(sum/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [126]:
low_prices=[100,200,400,800,1000]
high_prices=[150,300,430,880,1000]

volatility=[]
for i in range(len(low_prices)):
    volatility.append(high_prices[i]-low_prices[i])

print(volatility)

[50, 100, 30, 80, 0]

* 181~190

In [130]:
apart=[["101호","102호"],["201호","202호"],["301호","302호"]]

apart

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [131]:
stock=[["시가",100,200,300],["종가",80,210,330]]

stock

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [134]:
stock={'시가':[100,200,300],'종가':[80,210,330]}

stock

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [136]:
stock={"10/10":[80,110,70,90],"10/11":[210,230,190,200]}

stock

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [139]:
apart=[[101,102],[201,202],[301,302]]

for row in apart:
    for col in row:
        print(col,'호')

101 호
102 호
201 호
202 호
301 호
302 호

In [142]:
apart=[[101,102],[201,202],[301,302]]

for row in apart[::-1]:
    for col in row:
       print(col,"호")

301 호
302 호
201 호
202 호
101 호
102 호

In [143]:
apart=[[101,102],[201,202],[301,302]]

for row in apart[::-1]:
    for col in row[::-1]:
        print(col,"호")

302 호
301 호
202 호
201 호
102 호
101 호

In [145]:
apart=[[101,102],[201,202],[301,302]]

for row in apart:
    for col in row:
        print(col,"호")
        print("----")

101 호
----
102 호
----
201 호
----
202 호
----
301 호
----
302 호
----

In [146]:
apart=[[101,102],[201,202],[301,302]]

for row in apart:
    for col in row:
        print(col,"호")
    print("----")

101 호
102 호
----
201 호
202 호
----
301 호
302 호
----

In [148]:
apart=[[101,102],[201,202],[301,302]]

for row in apart:
    for col in row:
        print(col,'호')
        
print('-'*5)

101 호
102 호
201 호
202 호
301 호
302 호
-----

* 191~200

In [149]:
data=[
    [2000,3050,2050,1980],
    [7500,2050,2050,1980],
    [15450,15050,15550,14900]
]

for i in data:
    for j in i:
        print(j*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [150]:
data=[
    [2000,3050,2050,1980],
    [7500,2050,2050,1980],
    [15450,15050,15550,14900]
]

for i in data:
    for j in i:
        print(j*1.00014)
    print("-"*4)

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [151]:
data=[
    [2000,3050,2050,1980],
    [7500,2050,2050,1980],
    [15450,15050,15550,14900]
]

result=[]
for i in data:
    for j in i:
        result.append(j*1.00014)

print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [156]:
data=[
    [2000,3050,2050,1980],
    [7500,2050,2050,1980],
    [15450,15050,15550,14900]
]

result=[]
for i in data:
    sub=[]
    for j in i:
        sub.append(j*1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [163]:
ohlc=[['open','high','low','close'],
     [100,110,70,100],
     [200,210,180,190],
     [300,310,300,310]]

for row in ohlc[1:]:
    print(row[3])

100
190
310

In [164]:
ohlc=[['open','high','low','close'],
     [100,110,70,100],
     [200,210,180,190],
     [300,310,300,310]]

for row in ohlc[1:]:
    if row[3]>=150:
        print(row[3])

190
310

In [165]:
ohlc=[['open','high','low','close'],
     [100,110,70,100],
     [200,210,180,190],
     [300,310,300,310]]

for row in ohlc[1:]:
    if row[3]>=row[0]:
        print(row[3])

100
310

In [169]:
ohlc=[['open','high','low','close'],
     [100,110,70,100],
     [200,210,180,190],
     [300,310,300,310]]

volatility=[]
for row in ohlc[1:]:
    volatility.append(row[1]-row[2])
print(volatility)

[40, 30, 10]

In [173]:
ohlc=[['open','high','low','close'],
     [100,110,70,100],
     [200,210,180,190],
     [300,310,300,310]]

for row in ohlc[1:]:
        if row[3] > row[0]:
            print(row[1]-row[2])

10

In [177]:
#총 수익금 계산

ohlc=[['open','high','low','close'],
     [100,110,70,100],
     [200,210,180,190],
     [300,310,300,310]]    

profit=0
for row in ohlc[1:]:
    profit+=(row[3]-row[0])
print(profit)

0