# 파이썬 함수

* 201~210

In [1]:
def print_coin():
    print("비트코인")

In [2]:
print_coin()

비트코인

In [3]:
for i in range(1,101):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [6]:
def print_coins():
    for i in range(100):
        print("비트코인")

In [31]:
hello()
def hello():
    print("Hi")

#에러 발생 원인 : 함수가 정의되기 전에 호출되었음. 함수를 정의하고 호출할 것

NameError: name 'hello' is not defined

In [32]:
def message():
    print("A")
    print("B")
    
message()  #message 함수 호출 : 'A','B' 출력
print("C")  #'C'출력
message()  #message 함수 호출 : 'A','B' 출력

#결과 예측 : ABCAB

A
B
C
A
B

In [ ]:
print("A")

def message():
    print("B")
    
print("C")
message()

#결과값 예측 : ACB

In [1]:
print('A')
def message1():
    print("B")
print("C")
def message2():
    print("D")
message1()
print('E')
message2()

#결과값 예측 : ACBED

A
C
B
E
D

In [4]:
def message1():  #5번째
    print("A")  #6번째
    
def message2():  #2번째 
    print("B")  #3번째
    message1()  #4번째
    
message2() #실행순서 : 1번째

#결과값 예측 : BA

B
A

In [5]:
def message1():
    print("A")
    
def message2():
    print("B")
    
def message3():  
    for i in range(3):
        message2()
        print("C")
    message1()
    
message3()  

#결과값 예측 : B \n C \n B \n C \n B \n C \n A

B
C
B
C
B
C
A

* 211~220

In [6]:
def 함수(문자열):
    print(문자열)
    
함수("안녕")
함수("Hi")

#결과값 예측 : 안녕 \n Hi

안녕
Hi

In [7]:
def 함수(a,b):
    print(a+b)
    
함수(3,4)
함수(7,8)

#결과값 예측 : 7 \n 15

7
15

In [8]:
def 함수(문자열):
    print(문자열)
    
함수()

#에러 발생 원인 :정의된 함수와는 다르게 함수의 매개변수가 지정이 안되어있음.

TypeError: 함수() missing 1 required positional argument: '문자열'

In [9]:
def 함수(a,b):
    print(a+b)
    
함수("안녕",3)

#에러 발생 원인 : 정의된 함수의 파라미터는 같은 타입이지만, 호출된 함수는 같은 타입을 호출한 것이 아님.

TypeError: can only concatenate str (not "int") to str

In [10]:
def print_with_smile(a):
    print(a,':D')
    
print_with_smile("Hi")

Hi :D

In [11]:
def print_with_smile(a):
    print(a,':D')

print_with_smile("안녕하세요")

안녕하세요 :D

In [16]:
def print_upper_price(price):
    print(price*1.3)
    
print_upper_price(2000)

2600.0

In [15]:
def print_sum(a,b):
    print(a+b)

#x=int(input())
#y=int(input())

x=input()
y=input()

print_sum(x,y)

10
12
1012

In [17]:
def print_arithmetic_operation(a,b):
    print(a,'+',b,'=',a+b)
    print(a,'-',b,'=',a-b)
    print(a,'*',b,'=',a*b)
    print(a,'/',b,'=',a/b)
    
print_arithmetic_operation(3,4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [18]:
def print_max(a,b,c):
    if a>=b and a>=c:
        print(a)
    elif b>=a and b>=c:
        print(b)
    else:
        print(c)
    
print_max(10,30,20)

30

In [20]:
#다른방법

def print_max(a,b,c):
    max_val=0
    if a > max_val:
        max_val=a
    if b > max_val:
        max_val=b
    if c > max_val:
        max_val=c
    
    print(max_val)
    
print_max(10,30,20)

30

* 221~230

In [10]:
def print_reverse(string):  # print_reverse 함수 정의
    print(string[::-1])  # 배열을 통해 역순으로 출력
    
print_reverse("python")   # 함수 호출

nohtyp

In [11]:
def print_score(score):   #print_score 함수 정의
    print(sum(score)/len(score))   #sum함수와 len함수를 이용하여 평균 구하기

print_score([1,2,3])   #함수 호출

2.0

In [16]:
def print_even(num):   #print_even함수 정의
    for i in num:   # for문을 통해 반복 
        if i%2==0:   # if문을 통해 짝수값 구하기
            print(i)
    
print_even([1,3,2,10,12,11,15])   #함수 호출

2
10
12

In [18]:
def print_keys(dict):   # print_keys 함수 정의
    for key in dict.keys():   # 반복문을 통해 key값 출력하기
        print(key)   
        
print_keys({"이름":"김말똥","나이":30,"성별":0})   #함수 호출

이름
나이
성별

In [21]:
# my_dict와 날짜 키 값을 입력받아 OHLC 리스트를 추력하는 함수 정의

def print_value_by_key(my_dict,key):
    print(my_dict[key])

my_dict={"10/26":[100,130,100,100], "10/27":[10,12,10,11]}
print_value_by_key(my_dict,"10/26")

[100, 130, 100, 100]

In [33]:
#입력 문자열을 한 줄에 다섯 글자씩 출력하는 함수 작성

def print_5xn(string):
    chunk_num=int(len(string) / 5)  #float 타입이기 때문에 int형으로 반환해줘야 함.
    for x in range(chunk_num +1) :  #나머지가 있을때를 대비하여 +1
        print(string[x*5 : x*5 + 5 ])  #string[0]~ string[4], string[5] ~string[9] 출력
    
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [48]:
def print_mxn(string,num):
    string_len=int(len(string)/num)
    for i in range(string_len+1):
        print(string[i*num : i*num+num])
    
print_mxn("아이엠어보이유알어걸",3)

아이엠
어보이
유알어
걸

In [41]:
import math

def calc_monthly_salary(num):
    salary=math.trunc(num/12)  #trunc()는 math라이브러리의 소수점 버리는 함수
    print(salary)
    
calc_monthly_salary(12000000)

1000000

In [42]:
# 다른 방법

def calc_monthly_salary(annual_pay):
    monthly_pay=int(annual_pay/12)
    return monthly_pay

calc_monthly_salary(12000000)

1000000

In [45]:
def my_print(a,b):
    print("왼쪽: ",a)
    print("오른쪽: ",b)
    
#입력변수 a에 100, b에 200 바인딩
my_print(a=100,b=200)  #a가 아닌 x, b가 아닌 y를 출력 -> 오류 발생

#실행결과 예측하기 
# 왼쪽: 100
# 오른쪽: 200

왼쪽:  100
오른쪽:  200

In [46]:
def my_print(a,b):
    print("왼쪽: ", a)
    print("오른쪽: ",b)
    
my_print(b=100, a=200)  # 입력변수가 지정되어 있으므로 순서는 무관함.

#실행결과 예측하기 
# 왼쪽: 200
# 오른쪽: 100

왼쪽:  200
오른쪽:  100

* 231~240

In [49]:
def n_plus_1(n):
    result=n+1
    
n_plus_1(3)
print(result)

#실행 결과 예상 : 4
#실제 결과 예상 : 에러 발생 
# -> result는 전역변수가 아닌 지역변수임. 따라서 함수 밖에서는 접근이 불가능함. return을 사용해야 함.

NameError: name 'result' is not defined

In [50]:
def make_url(string):
    url='www.'+string+'.com'
    print(url)

make_url("naver")

www.naver.com

In [51]:
def make_list(string):
    string=list(string)
    print(string)
    
make_list('abcd')

['a', 'b', 'c', 'd']

In [53]:
#다른 방법

def make_list(string):
    return list(string)

make_list('abcd')

['a', 'b', 'c', 'd']

In [ ]:
# 또 다른 방법

def make_list(string):
    my_list=[]
    for a in string:
        my_list.append(a)
    return my_list
    
make_list('abcd')

In [58]:
# 들여쓰기에 주의할 문제

def pickup_even(items):
    result=[]
    for i in items:
        if i%2==0:
            result.append(i)
    return result
    
pickup_even([3,4,5,6,7,8])

[4, 6, 8]

In [64]:
def convert_int(num):
    return int(num.replace(',',''))
    
convert_int("1,234,567")

1234567

In [65]:
def 함수(num):
    return num+4

a=함수(10)   #a=14
b=함수(a)   #b=18
c=함수(b)   #c=22
print(c)

#실행결과 예측 : 22

22

In [66]:
def 함수(num):
    return num+4

c=함수(함수(함수(10)))
print(c)

#실행결과 예측 : 22

22

In [67]:
def 함수1(num):
    return num+4

def 함수2(num):
    return num*10

a=함수1(10)  #a=14
c=함수2(a)  #c=140
print(c)

#실행 결과 예측 : 140

140

In [68]:
def 함수1(num):   #num=12
    return num+4   #16 리턴

def 함수2(num):  #num=10
    num=num+2    #num=12
    return 함수1(num)  #함수1(12) 호출

c=함수2(10)  #함수2호출 -> c=16
print(c)

#실행결과 예측 : 16

16

In [72]:
def 함수0(num):   #num=14
    return num*2   #28 리턴

def 함수1(num):   #num=12
    return 함수0(num+2)   #함수0(14) 호출

def 함수2(num):  #num=2
    num+=10   #num=12
    return 함수1(num)   #함수1 호출

c=함수2(2)  #함수2 호출 -> c=28
print(c)

#실행 결과 예측 : 28

28