# 파이썬 시작하기
* 1~10

In [1]:
print("Hello World")

Hello World

In [2]:
print("Mary's cosmetics")

Mary's cosmetics

In [5]:
print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

In [6]:
print('C:\Windows')

C:\Windows

In [7]:
print("안녕하세요. \n만나서\t\t반갑습니다.")
# \n: 줄바꿈 , \t : tab

안녕하세요.
만나서		반갑습니다.

In [8]:
print("오늘은", "일요일")
# 결과값 예상 : 오늘은 일요일

오늘은 일요일

In [66]:
print("naver;kakao;sk;samsung")
print("naver", "kakao","sk", "samsung", sep=";")
print(";".join(['naver','kakao','sk','samsung']))

naver;kakao;sk;samsung
naver;kakao;sk;samsung
naver;kakao;sk;samsung

In [12]:
print("naver/kakao/sk/samsung")
print("naver", "kakao", "sk", "samsung", sep="/")

naver/kakao/sk/samsung
naver/kakao/sk/samsung

In [16]:
print("first", end="")
print("second")

firstsecond

In [18]:
print(5/3)

1.6666666666666667

# 파이썬 변수
* 11~20

In [20]:
삼성전자=50000
총평가금액=삼성전자*10
print(총평가금액)

500000

In [22]:
시가총액=298000000000000
현재가=50000
per=15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(per, type(per))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [24]:
s="hello"
t="python"
print(s+"!",t)

hello! python

In [25]:
print(2+2*3)

8

In [26]:
a=132
print(type(a))

<class 'int'>

In [62]:
num_str="720"
num_int=int(num_str)
print(num_int+1, type(num_int)) #1을 더하는 이유?

721 <class 'int'>

In [31]:
num=100
num_str=str(num)
print(num_str, type(num_str))

100 <class 'str'>

In [33]:
num_str="15.79"
num_float=float(num_str)
print(num_float, type(num_float))

15.79 <class 'float'>

In [34]:
year="2020"
year=int(year)
print(year, year-1, year-2)

2020 2019 2018

In [35]:
월=48584
총금액=월*36
print(총금액)

1749024

# 파이썬 문자열
* 21~30

In [37]:
letters='python'
print(letters[0], letters[2])

p t

In [41]:
license_plate="24가 2210"
print(license_plate[-4:])

2210

In [42]:
string="홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [45]:
string="PYTHON"
print(string[::-1])  #문자열 거꾸로 뒤집어 출력

NOHTYP

In [49]:
phone_number="010-1111-2222"
print(phone_number.split('-'))  
#결과값이 왜 리스트형으로 나오는가 : split 리스트값으로 돌려줌
phone_number1=phone_number.replace("-"," ")
print(phone_number1)  #replace 메서드를 사용하면 문자열 일부 치환 가능

['010', '1111', '2222']
010 1111 2222

In [52]:
phone_number ="010-1111-2222"
phone_number1=phone_number.replace('-','')
print(phone_number1)

01011112222

In [54]:
url="http:\\sharebook.kr"
print(url[-2:])
#다른방법
url_split=url.split('.')
print(url_split[-1])

kr
kr

In [55]:
lang='python'
lang[0]='P'
print(lang)
#결과값 예상 : p->P로 변경되어 Python 출력
#실제 결과값 : 문자열은 수정 xxx 문자열은 immutable

TypeError: 'str' object does not support item assignment

In [61]:
string='abcdfe2a354a32a'
string=string.replace('a',"A")
print(string)

Abcdfe2A354A32A

In [69]:
string='abcd'
string.replace('b','B')
print(string)
# 결과 예상 : string은 immutable -> 오류 발생
# 실제 결과값 : 'abcd' 그대로 출력

abcd

* 31~40

In [71]:
a="3"
b="4"
print(a+b)  #a와 b 모두 문자열이므로 34출력

34

In [72]:
print("Hi"*3)
#결과값 예상 : HiHiHi

HiHiHi

In [73]:
print('-'*80)

--------------------------------------------------------------------------------

In [76]:
t1='python'
t2='java'
t3=t1+' '+t2+' '
print(t3*4)

python java python java python java python java

In [75]:
a='abcd'
b=string.replace('b','B')
print(b)

aBcd

In [80]:
name1="김민수"
age1=10
name2="이철희"
age2=13
f"이름: {name1} 나이: {age1}"

'이름: 김민수 나이: 10'

In [81]:
f"이름: {name2} 나이: {age2}"

'이름: 이철희 나이: 13'

In [84]:
name1="김민수"
age1=10
name2="이철희"
age2=13
print("이름: %s 나이: %d" % (name1,age1))
print("이름: %s 나이: %d" % (name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [88]:
print("이름: {} 나이: {}".format(name1,age1))
print("이름: {} 나이: {}".format(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [89]:
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [94]:
상장주식수="5,969,782,550"
상장주식수=상장주식수.replace(',','')
상장주식수=int(상장주식수)
print(상장주식수, type(상장주식수))

5969782550 <class 'int'>

In [95]:
분기="2020/03(E) (IFRS연결)"
print(분기[0:7])

2020/03

In [96]:
data="   삼성전자   "
data.strip()

'삼성전자'

* 41~50

In [97]:
ticker="btc_krw"
ticker.upper()

'BTC_KRW'

In [98]:
ticker="BTC_KRW"
ticker.lower()

'btc_krw'

In [102]:
hello="hello"
hello=hello.capitalize()  #문장의 첫 단어의 첫 글자만 대문자로 바꾸는 경우 사용
print(hello)

Hello

In [105]:
file_name="보고서.xlsx"
file_name.endswith('xlsx')

True

In [107]:
file_name="보고서.xlsx"
file_name.endswith(("xlsx",'xls'))

True

In [109]:
file_name="2020_보고서.xlsx"
file_name.startswith("2020")

True

In [110]:
a="hello world"
a.split()

['hello', 'world']

In [111]:
ticker="btc_krw"
ticker.split("_")

['btc', 'krw']

In [112]:
date="2020-05-01"
date.split("-")

['2020', '05', '01']

In [114]:
data="039490    "
data.rstrip() #새 변수에 바인딩, 기존 문자열은 메모리에서 자동 삭제

'039490'

# 파이썬 리스트

* 51 ~ 60

In [119]:
movie_rank=['닥터 스트레인지', '스플릿', '럭키']
movie_rank

['닥터 스트레인지', '스플릿', '럭키']

In [121]:
movie_rank.append('배트맨')
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨', '배트맨']

In [123]:
movie_rank=['닥터 스트레인지','스플릿','럭키','배트맨']
movie_rank.insert(1,'슈퍼맨')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [127]:
movie_rank=['닥터 스트레인지','슈퍼맨','스플릿','럭키','배트맨']
movie_rank.remove("럭키")
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [129]:
#다른방법
movie_rank=['닥터 스트레인지','슈퍼맨','스플릿','럭키','배트맨']
del movie_rank[3]
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [133]:
movie_rank=['닥터 스트레인지','슈퍼맨','스플릿','배트맨']
del movie_rank[2:]
movie_rank

['닥터 스트레인지', '슈퍼맨']

In [143]:
lang1=["C","C++","JAVA"]
lang2=["Python","Go","C#"]
lang1.extend(lang2)
langs=lang1
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [144]:
#다른방법
lang1=["C","C++","JAVA"]
lang2=["Python","Go","C#"]
langs=lang1+lang2
langs

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [149]:
nums=[1,2,3,4,5,6,7]
print("max: ", max(nums))
print("min: ", min(nums))

max:  7
min:  1

In [151]:
nums=[1,2,3,4,5]
sum(nums)

15

In [155]:
cook=["피자","김밥","만두","양념치킨","족발","피자","김치만두","쫄면","소시지","라면","팥빙수","김치전"]
print(len(cook))

12

In [154]:
nums=[1,2,3,4,5]
average=sum(nums)/len(nums)
average

3.0

* 61 ~ 70

In [156]:
price=['20180728',100,130,140,150,160,170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [157]:
nums=[1,2,3,4,5,6,7,8,9,10]
nums[::2]

[1, 3, 5, 7, 9]

In [158]:
nums=[1,2,3,4,5,6,7,8,9,10]
nums[1::2]

[2, 4, 6, 8, 10]

In [161]:
nums=[1,2,3,4,5]
nums[::-1]

[5, 4, 3, 2, 1]

In [162]:
interest=['삼성전자','LG전자','Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [164]:
interest=['삼성전자','LG전자','Naver','SK하이닉스','미래에셋대우']
print(' '.join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [165]:
interest=['삼성전자','LG전자','Naver','SK하이닉스','미래에셋대우']
print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [166]:
interest=['삼성전자','LG전자','Naver','SK하이닉스','미래에셋대우']
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [168]:
string="삼성전자/LG전자/Naver"
interest=string.split('/')
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [178]:
data=[2,4,3,1,5,10,9]
data.sort()
print(data)
#새로운 정렬된 리스트를 반환하는 함수 : sorted
#리스트 자체를 정렬시켜버리는 것 : sort

[1, 2, 3, 4, 5, 9, 10]

# 파이썬 튜플

* 71~ 80

In [181]:
my_variable=()
type(my_variable)

tuple

In [182]:
movie_rank=("닥터 스트레인지","스플릿","럭키")

In [183]:
tuple=(1)
type(tuple) # 튜플은 2개 이상

int

In [184]:
t=(1,2,3)
t[0]='a'
#오류 원인 : t는 튜플형, 원소의 값을 변경 x

TypeError: 'tuple' object does not support item assignment

In [185]:
t=1,2,3,4
type(t)  #튜플은 괄호 생략 가능

tuple

In [187]:
t=('a','b','c')
# 튜플은 수정이 불가능하기 때문에 새 튜플을 만들고 t 변수 업데이트 해야함
t=('A','B','C')
print(t)

('A', 'B', 'C')

In [190]:
interest=('삼성전자','LG전자','SK Hynix')
interest=['삼성전자','LG전자','SK Hynix']
print(interest)

['삼성전자', 'LG전자', 'SK Hynix']

In [193]:
interest=('삼성전자','LG전자','SK Hynix')
data=list(interest) #튜플을 리스트로 변환
data

['삼성전자', 'LG전자', 'SK Hynix']

In [194]:
temp=('apple','banana','cake')
a,b,c=temp
print(a,b,c)
#실행결과 예상 : ('apple','banana','cake')

apple banana cake

In [205]:
#1~99 중 짝수만 저장된 튜플 생성
a=range(2,100,2)
print(tuple(a))

#data=tuple(range(2,100,2))
#print(data)

TypeError: 'int' object is not callable